.page__wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1730px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.common__block-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    text-align: center;
}

@media (max-width: 567px) {
    .common__block-title {
        font-size: 45px;
        line-height: 65px;
    }
}

.color_yelow {
    color: #FFC700;
}

.common__subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
}

@media (max-width: 567px) {
    .common__subtitle {
        font-size: 26px;
        line-height: 35px;
    }
}

html,
body {
    background-color: #000;
    font-size: 24px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    height: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 110px 0;
}

@media (max-width: 1199px) {
    .nav {
        display: none;
    }
}

.contact {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.nav__link:not(:last-child) {
    margin-right: 35px;
}

.nav__link:hover {
    text-decoration: underline;
}

.phone__icon {
    margin-right: 10px;
}

.intro__page {
    margin-top: 20px;
}

.intro__block {
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 991px) {
    .intro__block {
        display: block;
    }
}

.intro__block-info {
    max-width: 971px;
    z-index: 1000;
}

.intro__block-description {
    font-size: 30px;
    line-height: 41px;
    margin-top: 48px;
}

.intro__block-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
}

@media (max-width: 991px) {
    .intro__block-title {
        font-weight: 400;
        font-size: 40px;
        line-height: 60px;
    }
}

.intro__block-image {
    position: absolute;
    width: 70%;
    right: 0;
    z-index: 1;
    top: 130px;
}

@media (max-width: 991px) {
    .intro__block-image {
        top: auto;
    }
}

@media (max-width: 565px) {
    .intro__block-image {
        width: 90%;
    }
}

.img_wrapper {
    width: 1300px;
    height: 900px;
}

@media (max-width: 991px) {
    .img_wrapper {
        width: 900px;
        height: 700px;
    }
}

@media (max-width: 567px) {
    .img_wrapper {
        height: 300px;
    }
}

.intro__block-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 70px;
    gap: 30px;
}

.intro__block-action {
    margin-top: 70px;
}

.first__action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 18px;
}

.first__action img {
    margin-right: 32px;
}

.second__action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.second__action img {
    margin-right: 32px;
}

.big_word {
    text-transform: uppercase;
}

.comoon__block-button {
    display: inline-block;
    vertical-align: top;
    padding: 7px 32px;
    border-radius: 10px;
    font-family: inherit;
    background: none;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #fff;
    transition: background-color 0.2s linear, color 0.2s linear;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

.comoon__block-button:not(:last-child) {
    margin-right: 15px;
}

.comoon__block-button:hover {
    background: #ccc;
    color: #232323;
}

.fill__color {
    background: #FFC700;
    box-shadow: 4px 4px 4px rgba(255, 199, 0, 0.25);
    color: #232323;
    border: none;
}

.fill__color:hover {
    background: #ccc;
}

.services__block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 150px -70px 0px -70px;
}

.services {
    margin-bottom: 115px;
}

.services__col {
    width: 33.333%;
    padding: 0 70px;
}

@media (max-width: 991px) {
    .services__col {
        width: 100%;
        padding: 100px 70px;
    }
}

.services__item {
    background: #FFC700;
    box-shadow: 4px 4px 4px rgba(255, 199, 0, 0.25), -4px -4px 4px rgba(255, 199, 0, 0.25);
    border-radius: 10px;
    padding: 40px;
    height: 100%;
}

.services__item img {
    margin-top: -170px;
}

@media (max-width: 1199px) {
    .services__item {
        padding: 0px;
    }
}

.image_services {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.long_1 {
    margin-top: 100px;
}

.long_2 {
    margin-top: 20px;
}

.services__info-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #000;
    margin-bottom: 31px;
}

.services__info-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
}

.btn_services {
    color: #1D1D1D;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 65px;
    margin-bottom: 80px;
}

@media (max-width: 1199px) {
    .btn_services {
        padding: 10px 20px;
    }
}

.text__center {
    text-align: center;
}

.advantages__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 565px) {
    .advantages__item {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.advantages__item:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: -5px;
    left: 0;
    z-index: 1;
    position: absolute;
}

.advantages__block {
    margin-top: 115px;
}

.number {
    font-weight: 400;
    font-size: 80px;
    line-height: 109px;
    color: #FFC700;
}

@media screen and (max-width: 565px) {
    .number {
        font-size: 65px;
        margin-right: 25px;
    }
}

.advantages__item-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

@media screen and (max-width: 565px) {
    .advantages__item-text {
        font-size: inherit;
        line-height: 35px;
        font-size: 24px;
        margin-bottom: 10px;
    }
}

.workflow {
    margin-top: 150px;
}

.workflow__block {
    display: -ms-flexbox;
    display: flex;
    margin: 0 -30px;
    margin-top: 100px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.workflow__col {
    width: 25%;
    padding: 30px;
}

@media (max-width: 1199px) {
    .workflow__col {
        width: 50%;
        padding: 20px 30px;
    }
}

@media (max-width: 565px) {
    .workflow__col {
        width: 100%;
    }
}

.workflow__item {
    background-color: #fff;
    padding: 24px 24px 40px 24px;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.workflow__item-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 22px;
    margin-top: 26px;
}

.workflow__item-header img {
    margin-right: 10px;
}

.workflow__item-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #1D1D1D;
}

.workflow__item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #1D1D1D;
}

.workplace {
    margin: 100px 0 100px 0;
}

.workplac_subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    margin: 35px 0 100px 35px;
}

.workplace__block {
    display: -ms-flexbox;
    display: flex;
    margin: 0 -30px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.workplace__col {
    padding: 0 30px;
    width: 50%;
}

.workplace__col img {
    border-radius: 10px;
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .workplace__col {
        width: 100%;
        padding: 20px 30px;
    }
}

.workplace__triger {
    margin-top: 53px;
    max-width: 845px;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
}

.contact_form {
    background: #FFC700;
    border-radius: 10px;
    padding: 100px 100px 77px 100px;
    margin-bottom: 150px;
}

@media (max-width: 565px) {
    .contact_form {
        padding: 0px 0px 30px 0px;
        margin: 0 -15px 80px -15px;
    }
}

.contact__form-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color: #1D1D1D;
}

.contact__area {
    display: -ms-flexbox;
    display: flex;
    margin: 84px 0 71px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 565px) {
    .contact__area {
        padding: 20px;
    }
}

.info__message {
    border-radius: 10px;
    padding: 31px;
    border: 1px solid #fff;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

@media (max-width: 991px) {
    .info__message {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        margin-top: 25px;
    }
}

.contact__area-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

@media (max-width: 991px) {
    .contact__area-info {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
    }
}

.subscribe__input {
    min-height: 50px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-right: 60px;
    padding: 31px;
}

.subscribe__input:not(:last-child) {
    margin-bottom: 25px;
}

@media (max-width: 991px) {
    .subscribe__input {
        margin-right: 0px;
    }
}

@media (max-width: 565px) {
    .subscribe__input {
        padding: 20px;
    }
}

.chekbox {
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

@media (max-width: 991px) {
    .chekbox {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        margin-top: 25px;
    }
}

.chekbox label {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000;
    margin-left: 45px;
}

.chekbox input {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFC700;
}

.action__area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.action__area input {
    color: #1D1D1D;
}

@media (max-width: 991px) {
    .action__area input {
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        margin-top: 25px;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media (max-width: 565px) {
    .action__area {
        padding: 20px;
    }
}

.footer {
    border-top: 1px solid #fff;
}

.footer__block-common {
    display: -ms-flexbox;
    display: flex;
    padding: 120px 0 115px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__block {
    width: 25%;
}

@media (max-width: 1199px) {
    .footer__block {
        width: 50%;
    }
}

@media (max-width: 567px) {
    .footer__block {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
}

.footer__nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__link {
    font-weight: 400;
    line-height: 33px;
}

.footer__link:not(:last-child) {
    margin-bottom: 20px;
}

.footer__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 30px;
}

.call_to_action {
    border: 2px solid #FFC700;
    color: #FFC700;
}